html, body{
    height: 100%;
    background-color: black;
}

body{
    background-color: black;
    display: flex;
}

#google-map{
    border: 1px solid #533232;
    width: 700px;
    height: 500px;
    align-self: center;
    margin: 0 auto;
}

.gm-style-iw-ch {
    height: 0px;
}

.gm-style-iw-chr {
    height: 0px;
}


