*{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



#header{
    padding-top: 10px;
    text-align: center;
    background-color: rgb(3,48,67);
    color: aliceblue;
    height: 100px;
    width: 100%;
}

.titulo{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 25px;
    margin-bottom: 10px;
}

.block{
    background-color: transparent;
    color: rgb(3,48,67);
    max-width: 40vw;
    min-width: 350px;
    padding: 15px; 
    margin: auto;
}

.fondo{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(235, 249, 255);
}

.fondo:nth-child(2){
    background-color: rgb(211, 242, 255);
}







#footer{
    width: 100%;
    background-color: transparent;
    padding: 10px;
}

#footer .block{
    color: rgb(235, 249, 255); 
}

.block a{
    margin-top: 15px;
    padding: 5px;
}


span{
    padding: 5px;
}


body {
    background-color: rgb(3,48,67);
    color:rgb(255, 255, 255)
    font-fa "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.projectsWrapper {
    display: flex; 
    flex-direction: row;
    margin: auto; 
    max-width: 50vw;
    min-width: 300px;
    gap: 35px;
    flex-wrap: nowrap; 
    overflow-x: auto;
  }


.projectCard{
    position: relative;
    border-radius: 10px;
    height: 500px;
    min-width: 300px;
    margin-top: 40px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 120px; 
    background-color: rgb(3,48,67,1);
    display: flex;
    flex-direction: column; 
    align-items: center;
    
}

.projectHeader{
    position: relative;
    border-radius: 10px;
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgb(3,48,67,1);
    width: 300px;
    padding: 25px;
    color: rgb(255, 255, 255);
}
.projectHeader h3{
    text-align: center;
    margin-bottom: 20px;
}

.projectHeader img{
    width: 300px;
    border-radius: 10px;
    margin-bottom: 3px;
}



.projectHeader .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: rgba(3,48,67,1); 
    opacity: 0; 
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.projectHeader:hover .overlay {
    opacity: 1;
}

.contenido {
    text-align: left;
    padding: 20px;
    color: white;
}

#contenedorEnlaces {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    margin-left: 5px;

    
}


.enlace{
    display: inline-block;
    background-color: rgb(41, 92, 114);
    color: rgb(231, 244, 250);
    border-radius: 2px;
    max-width: 130px;
    padding-left: 12px;
    padding-top: 6px;
    height: 35px;
    text-decoration: none;
    margin: 12px; 
}


.enlace:hover{
    background-color: rgb(231, 244, 250);
    color: rgb(41, 92, 114);
    transition: all .4s ease;
}

.enlace:nth-child(2){
    float: right;
    margin-right: 10px;
}

.enlace:nth-child(3){
    margin-right: 15px;
}


.tech-tag {
    display: inline-block; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    color: #ffffff; 
    background-color: #0073e6; 
    padding: 3px 6px;
    border-radius: 5px; 
    margin: 2px; 
  }






