h1{
    color: #ffffff;
    margin-left: 10px 
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6650a4;
}


.section {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    background-color: #6650a4;
    border-radius: 10px;
    max-width: 450px; 
    padding: 25px;
    color: rgb(255, 255, 255);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

@media (min-width: 900px) {
    .section:has(.section-item:nth-child(4)) {
        max-width: 950px; /* Ancho cuando hay 4 items */
    }
}


.section-display {
    display: flex; 
    flex-direction: column;
    gap: 20px;
    justify-content: space-between; 
    align-items: center; 
}



#link{  
    color: #ffffff;
    text-decoration: none;
}

#link:visited{
    color: #ffffff;
}


@media only screen and (min-width: 1220px) {
    h1{
        position: fixed;
        color: #6650a4;
        margin-left: 10px 
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ffffff;
    }

    .section {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
        background-color: #6650a4;
        border-radius: 10px;
        max-width: 750px; 
        padding-right: 30px;
        color: rgb(255, 255, 255);
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    .section-display {
        display: flex; 
        flex-direction: row;
        justify-content: space-between; 
        gap: 10px;
        align-items: center; 
    }

    #link{  
        color: #6650a4;
        text-decoration: none;
    }
    
    #link:visited{
        color: #6650a4;
    }

}




#footer{
    bottom: 0;
    left: 0;
    width: 350px;
    padding: 10px;
    text-align: start;
}



.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}



.section-item {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center;
    align-items: center; 
    /* background-color: #d0ef00;  */
    max-width: 300px;
    margin: 0 10px; 
}

.section h2 {
    text-align: center; 
}


.section-item img {
    width: 200px;
    display: block;
    border-radius: 15px;
}

.section-item p {
    margin-top: 10px;
}

