h1{
    color: #ffffff;
    margin-left: 10px 
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6650a4;
}

.header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px 10px;
}

.header .nav-links{
    list-style: none;

}

.header .nav-links li{
    display: inline-block;
    padding: 0 10px;
}

.header .nav-links a{
    font-size: 500px;
    color: #6650a4;
}


.section {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    background-color: #6650a4;
    border-radius: 10px;
    max-width: 450px; 
    padding: 25px;
    color: rgb(255, 255, 255);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

@media (min-width: 900px) {
    .section:has(.section-item:nth-child(4)) {
        max-width: 950px; /* Ancho cuando hay 4 items */
    }
}


.section-display {
    display: flex; 
    flex-direction: column;
    gap: 20px;
    justify-content: space-between; 
    align-items: center; 
}



#link{  
    color: #ffffff;
    text-decoration: none;
}

#link:visited{
    color: #ffffff;
}


@media only screen and (min-width: 1220px) {
    h1{
        position: fixed;
        color: #6650a4;
        margin-left: 10px 
    }


    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ffffff;
    }

    .header {
        background-color: #6650a4;
        align-items: center;
        height: 60px;
        justify-content: center; /* Centra los elementos en el header */
        width: 80%; /* Ajusta el tamaño del header, por ejemplo, al 80% del ancho de la página */
        max-width: 800px; /* También puedes establecer un ancho máximo si lo deseas */
        margin: 0 auto; /* Centra el header horizontalmente */
        position: relative; /* Permite el uso de position en los elementos hijos */
        border-bottom-left-radius: 15px; /* Redondea la esquina inferior izquierda */
        border-bottom-right-radius: 15px; /* Redondea la esquina inferior derecha */
    }


    .header nav {
        display: flex;
        justify-content: space-between;
    }

    .header .nav-links{
        list-style: none;
    }
    
    .header .nav-links li{
        display: inline-block;
        padding: 0 40px;
    }
    .header .nav-links li:hover{
        transform: scale(1.1);
    }
    
    .header .nav-links a{
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
    }



    .header .btn {
        margin-left: auto;
    }
    


    .header .btn button{
        font-weight: 50px;
        color: #6650a4;
        padding: 9px 25px;
        background-color: #ffffff;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    .header .btn button:hover{
        transform: (1.1);
    }

    .section {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
        background-color: #6650a4;
        border-radius: 10px;
        max-width: 750px; 
        padding-right: 30px;
        color: rgb(255, 255, 255);
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    .section-display {
        display: flex; 
        flex-direction: row;
        justify-content: space-between; 
        gap: 10px;
        align-items: center; 
    }

    #link{  
        color: #6650a4;
        text-decoration: none;
    }
    
    #link:visited{
        color: #6650a4;
    }

}




#footer{
    bottom: 0;
    left: 0;
    width: 350px;
    padding: 10px;
    text-align: start;
}



.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}



.section-item {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center;
    align-items: center; 
    /* background-color: #d0ef00;  */
    max-width: 300px;
    margin: 0 10px; 
}

.section h2 {
    text-align: center; 
}


.section-item img {
    width: 200px;
    display: block;
    border-radius: 15px;
}

.section-item p {
    margin-top: 10px;
}

